<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
              <h2 class="mb-4">Experiences</h2>

                <div class="timeline">
                    <div class="timeline-wrapper">
                         <div class="timeline-yr">
                              <span>2023</span>
                         </div>
                         <div class="timeline-info">
                              <h3><span>Full Stack Developer</span><small>MyApp Labs, France</small></h3>
                              <p>Responsible for spearheading feature development and actively contributing to product advancements.</p>
                         </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2018</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Full Stack Developer</span><small>OpenLabs NIIT Kumasi-Ghana</small></h3>
                            <p>Responsible for delivering impactful software lectures and concurrently
                                developing applications, bridging theoretical knowledge with practical
                                expertise.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-12">
              <h2 class="mb-4 mobile-mt-2">Educations</h2>

                <div class="timeline">
                    <div class="timeline-wrapper">
                         <div class="timeline-yr">
                              <span>2017</span>
                         </div>
                         <div class="timeline-info">
                              <h3><span>Profetional Diploma in Software Development</span><small>NIIT Ghana-Kumasi</small></h3>
                              <p>Successfully completed a Dipoma course in Software Engeneering.</p>
                         </div>
                    </div>

                    


                </div>
            </div>

        </div>
    </div>
</section>