<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">

                    <!-- Skills 1 -->
            <div class="col-lg-6 col-12">
                <h2 class="mb-4 mobile-mt-2">Skills</h2>
  
                  <div class="timeline">
  
                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span class="uil uil-code"></span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>Programming Languages</span></h3>
                            <small>
                              <ul>
                                <li>C#</li>
                                <li>CSS</li>
                                <li>Google Apps Script</li>
                                <li>HTML</li>
                                <li>JAVA</li>
                                <li>JavaScript</li>
                                <li>Markdown</li>
                                <li>Node.js</li>
                                <li>PHP</li>
                                <li>Python</li>
                                <li>Scratch</li>
                                <li>SQL</li>
                                <li>SVG+XML</li>
                              </ul>
                            </small>
                          </div>
                      </div>
                      
    
                      <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span class="uil uil-bookmark"></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Frameworks & Libraries</span></h3>
                            <small>
                                <ul>
                                    <li>Bootstrap</li>
                                    <li>Electron</li>
                                    <li>Laravel</li>
                                    <li>Express.js</li>
                                    <li>Flask</li>
                                    <li>Github Actions</li>
                                    <li>JUnit</li>
                                    <li>Material Design</li>
                                    <li>React</li>
                                    <li>Slim</li>
                                    <li>Symphony</li>
                                    <li>Wordpress</li>
                                </ul>
                            </small>
                        </div>
                    </div>
  
                  </div>
              </div>

              <!-- Skills 2 -->
              <div class="col-lg-6 col-12">
                <h2 class="mb-4 mobile-mt-2" style="color: white;">Skills</h2>
  
                  <div class="timeline">

  
                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span class="uil uil-database"></span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>Databases & Cloud Hosting</span></h3>
                              <small>
                                <ul>
                                    <li>Github Pages</li>
                                    <li>Heroku</li>
                                    <li>MongoDB</li>
                                    <li>MySQL</li>
                                    <li>PostgreSQL</li>
                                    <li>SQLite</li>
                                </ul>
                            </small>
                            </div>
                      </div>
                      
    
                      <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span class="uil uil-airplay"></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Software & Tools</span></h3>
                            <small>
                                <ul>
                                    <li>Adobe</li>
                                    <li>Android</li>
                                    <li>Android Studio</li>
                                    <li>Audacity</li>
                                    <li>Git</li>
                                    <li>Github Desktop</li>
                                    <li>Sheets</li>
                                    <li>Inkscape</li>
                                    <li>OBS</li>
                                    <li>Photopea</li>
                                    <li>Postman</li>
                                    <li>Stack Overflow</li>
                                    <li>Visual Studio Code</li>
                                    <li>PHPStorm</li>
                                    <li>PyCharm</li>
                                </ul>
                            </small>
                        </div>
                    </div>
  
                  </div>
              </div>

        </div>
    </div>
</section>